version: 2
jobs:
  test:
    working_directory: /go/src/github.com/desbo/ladder
    docker:
      - image: google/cloud-sdk
    steps:
      - checkout
      - run:
          name: Install Go
          command: apt-get install -y golang
      - run:
          name: Install Go depependencies
          working_directory: api
          command: go get -t -d -v ./...
      - run:
          name: Run Go tests
          working_directory: api
          command: go test -v .
  
  deploy:
    docker:
      - image: google/cloud-sdk

    steps:
      - checkout
      - run:
          name: Install deployment dependencies
          working_directory: .circleci
          command: ./setup.sh
          
      - run:
          name: Deploy to App Engine
          command: make deploy
    
workflows:
  version: 2
  test-deploy:
    jobs:
      - test
      - deploy:
          requires:
            - test
          filters:
            branches:
              only: master
