.level.is-mobile .level-item {
  margin-right: 0;
}

.reverse-row-order {
  flex-direction: row-reverse;
}

.hero.is-light .tabs.is-boxed li.is-active a {
  color: #363636;
  background: #fff;
  border: none;
}

.no-wrap {
  white-space: nowrap;
}

.rating {
  display: inline-block;
  width: 2rem;
  flex: 1;
}

.rating-change {
  flex: 2;
}


.table.is-narrow-mobile td,
.table.is-narrow-mobile th {
  @media screen and (max-width: 749px) {
    padding: 0.25em 0.5em; 
  }
}